<ion-header>
  <ion-toolbar>
    <ion-title>📦 Catálogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchText" (ionInput)="filterItems()" placeholder="Buscar productos o servicios"></ion-searchbar>


  <ion-card>
    <ion-card-content>
      <ion-card-title>Servicios</ion-card-title>
      <ion-card-subtitle>Servicios disponibles</ion-card-subtitle>

      <ion-list>
        <ion-item *ngFor="let servicio of filteredServicios">
          <ion-thumbnail slot="start">
            <img [src]="servicio.imagen" alt= />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ servicio.nombre }}</h2>
            <p>{{ servicio.descripcion }}</p>
            <p>
              <ion-badge color="danger">{{ servicio.precio | currency }}</ion-badge>
            </p>
          </ion-label>
          <ion-button (click)="agendarCita()" color="success" layout="icon-top">
            <ion-icon name="calendar-number-outline"></ion-icon> Cita
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>Productos</ion-card-title>
      <ion-card-subtitle>Productos disponibles</ion-card-subtitle>
      <ion-list>
        <ion-item *ngFor="let producto of filteredProductos">
          <ion-thumbnail slot="start">
            <img [src]="producto.imagen" alt="{{ producto.nombre }}" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ producto.nombre }}</h2>
            <p>{{ producto.descripcion }}</p>
            <p>
              <ion-badge color="danger">{{ producto.precio | currency }}</ion-badge> 
            </p>
          </ion-label>
          <ion-button (click)="addToCart(producto)" color="primary">
            🛒 Agregar
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="button-container">
    <ion-button (click)="goToCart()" expand="full" color="warning"><ion-icon name="cart-outline"></ion-icon>
    Carrito
    </ion-button>

    <ion-button routerLink="/tabs" expand="full" color="primary"><ion-icon name="return-up-back-outline"></ion-icon>
    
    </ion-button>
  </div>
</ion-content>
