// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-primary: #444444;
	--ion-color-primary-rgb: 68,68,68;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #3c3c3c;
	--ion-color-primary-tint: #575757;

	--ion-color-secondary: #121212;
	--ion-color-secondary-rgb: 18,18,18;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #101010;
	--ion-color-secondary-tint: #2a2a2a;

	--ion-color-tertiary: #c5000f;
	--ion-color-tertiary-rgb: 197,0,15;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #ad000d;
	--ion-color-tertiary-tint: #cb1a27;

	--ion-color-success: #d2a82a;
	--ion-color-success-rgb: 0,0,0;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #000000;
	--ion-color-success-tint: #1a1a1a;

	--ion-color-warning: #d2a82a;
	--ion-color-warning-rgb: 255,196,22;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac13;
	--ion-color-warning-tint: #ffca2d;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #0000;
	--ion-color-light-rgb: 0,0,0;
	--ion-color-light-contrast: #ffffff;
	--ion-color-light-contrast-rgb: 255,255,255;
	--ion-color-light-shade: #000000;
	--ion-color-light-tint: #1a1a1a;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}

ion-button {
    --background:  #c5000f; /* Color deseado */
    --color: white;        /* Color del texto */
    display: flex;
    justify-content: center;
    gap: 30px; /* Espacio entre botones */
    size:small;
  }

  .footer {
    text-align: center;
    margin-top: 15px;
  }
  
  ion-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .total {
    margin-top: 15px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  
  .small-center-btn {
	width: auto; /* Ajusta el tamaño */
	font-size: 12px; /* Tamaño de texto pequeño */
	padding: 5px 10px; /* Espaciado más pequeño */
	display: block; /* Para que se centre con el contenedor */
	margin: 10px auto; /* Centrado horizontal con un margen */
	text-align: center; /* Asegura que el texto esté centrado */
  }
  
  ion-label {
	width: auto; /* Ajusta el tamaño */
	font-size: 12px; /* Tamaño de texto pequeño */
	padding: 5px 10px; /* Espaciado más pequeño */
	
	margin: 10px auto; /* Centrado horizontal con un margen */

  }


  